streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma
chromadb
fastembed
pypdf
python-dotenv
openai
pandas
pydantic
pydantic-settings
pillow
faiss-cpu